<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <title>
            {% if title is defined %}
                {{ title }}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/app.css">
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block globalJavascript %}
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/script.js"></script>
        {% endblock %}
        {% block customJavascript %}{% endblock %}
    </body>
</html>
