{% extends '_layout.twig' %}

{% set title = 'Agora | Chat' %}

{% block content %}
    <main id="chat" class="flex">
        <section></section>
        <section></section>
    </main>
{% endblock %}

{% block customsJavascripts %}{% endblock %}