{% extends '_layout.twig' %}

{% set title = 'Profile' %}

{% block customsScript %}
{% endblock %}

{% block content %}
	<main>
        <h1>Hello World !</h1>
	</main>
{% endblock %}

{% block customsStylesheets %}
	<style>
        
	</style>
{% endblock %}
