{% extends '_layout.twig' %}

{% set title = 'Météo' %}


{% block content %}
    <main class="weather">

        <div class="flex justify-content-between">
            <div class="flex align-items-center">
                <h1 class="is-capitalize text is-primary">Paris</h1>
                <span class="date pd-l2 is-capitalize text is-primary pd-t1"></span>
            </div>
            <div class="flex">
                <input class="input-right-less" id="searchweather" type="text" value="Paris">
                <button id="submitweather" class="button" type="submit">Rechercher</button>
            </div>
        </div>
        <div id="locationimg" class="flex mg-t2">
            <div class="bg-img"></div>
        </div>
        <div class="flex mg-t2">
            <h2 class="is-capitalize text is-primary">Bonjour Brieuc ! </h2>
        </div>
        <div id="locationdesc" class="flex mg-t2">
            <p></p>
        </div>
        <div id="locationinfoinc" class="flex flex-column mg-t2">
            <div id="locationinfotoday">
                <span class="today">Aujourd'hui</span>
                <span class="todayinfo mg-t2 block"></span>
            </div>
        </div>
    </main>
{% endblock %}

{% block customJavascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/locale/fr.js"></script>
    <script src="assets/js/api.js"></script>
{% endblock %}
