// FLEX

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-start {
	justify-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-around {
	align-content: space-around;
}

.align-content-between {
	align-content: space-between;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.block {
	display: block;
}

///////Z-INDEX////////*/

.zind1 {
	z-index: 1;
}

.zind2 {
	z-index: 2;
}

.zind3 {
	z-index: 3;
}
/*/
///////BORDER////////*/

.bdr {
	border-radius: 3px;
}

.bdr-top {
	border-radius: 10px 10px 0 0;
}

.bdr-bottom {
	border-radius: 0 0 10px 10px;
}

.bdr-none {
	border-radius: none;
}

.bd-top {
	border-top: 2px solid #000;
}

.bd-bot {
	border-bottom: 2px solid #000;
}

.bbox {
	box-sizing: border-box;
}

.over_hide {
	overflow: hidden;
}

.full-w {
	width: 100%;
}

.full-h {
	height: 100%;
}
/*/
///////TEXT////////*/

.text_center {
	text-align: center;
}

.is-uppercase {
	text-transform: uppercase;
}

.is-capitalize {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

.thin {
	font-weight: thin;
}
/*/
///////MARGIN - PADDING////////*/

.mauto {
	margin: 0 auto;
}

@for $i from 0 through 10 {
	.mg#{$i} {
		margin: 10px*$i;
	}

	.pd#{$i} {
		padding: 10px*$i;
	}
	/*/
	///////MARGIN////////*/
	.mg-b#{$i} {
		margin-bottom: 10px*$i;
	}

	.mg-t#{$i} {
		margin-top: 10px*$i;
	}

	.mg-l#{$i} {
		margin-left: 10px*$i;
	}

	.mg-r#{$i} {
		margin-right: 10px*$i;
	}
	/*/
	///////PADDING////////*/
	.pd-b#{$i} {
		padding-bottom: 10px*$i;
	}

	.pd-t#{$i} {
		padding-top: 10px*$i;
	}

	.pd-l#{$i} {
		padding-left: 10px*$i;
	}

	.pd-r#{$i} {
		padding-right: 10px*$i;
	}
}

input:focus {
	outline: none;
}