body {
  font-family: 'Avenir Next';
}

h1 {
  font-size: 2rem;
  font-family: 'Quicksand';
}

h2 {
  font-size: 2rem;
  font-family: 'Quicksand';
}

h3 {
  font-size: 1.5rem;
  font-family: Quicksand;
}

p.desc {
  font-size: 1rem;
  line-height: 26px;
}

.text {
  &.is-primary {
    color: map-get($colors, primary);
  }

  &.is-secondary {
    color: map-get($colors, secondary);
  }
}