#chat {
    width: 94vw;
    margin-top: 100px;
    float: right;

    & > section {
        &:first-child {
            width: 20%;
            height: 100px;
            background-color: red;
        }

        &:last-child {
            width: 80%;
            height: 100%;

            .top {
                border: solid 1px grey;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}