#feed {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  background: #F8F8F8;
  font-family: 'Quicksand';
  margin-top: 10vh;

  &.board_open {
    width: 85vw;
  }

  .write_post {
    background: white;
    border-radius: 10px;
    padding: 5px 10px;

    .profile_img {
      width: 40px;
      height: 40px;
    }

    form {
      width: 95%;

      input,
      label {
        display: block;
        border-radius: 50px;
        border: none;
        height: 35px;
      }

      input {
        &[type=text] {
          border: solid 1px #C2C2C2;
          width: 85%;

          &::placeholder {
            color: #C2C2C2;
          }
        }

        &[type=submit] {
          background: url("/assets/img/send.svg")no-repeat center;
          background-size: 20px;
          background-color: #FF5C3E;
          width: 35px;
          height: 35px;
          border: none;
        }

        &[type=file] {
          display: none;
        }
      }

      label {
        width: 35px;

        &[for=mediaUpload] {
          background: url("/assets/img/media.svg")no-repeat center;
          background-size: 20px;
          background-color: #FC3574;
        }

        &[for=gif] {
          background: #3194FC;
          text-align: center;
          color: white;
          line-height: 2.3;
        }
      }
    }
  }

  .container {
    margin: 0 auto;

    .grid-sizer,
    .post {
      width: 32%;
      @media screen and (max-width: $break-13pouces) {
        width: 49%;
      }
      @media screen and (max-width: $break-medium) {
        width: 100%;
      }
    }

    .gutter-sizer {
      width: 2%;
    }
  }
}