main.landing {
  .background {
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: url("../img/landing.jpg") no-repeat bottom;
    background-size: contain;
    z-index: -1;
  }

  section:first-of-type {
    flex-direction: row-reverse;
    @media screen and (max-width: $break-large) {
      display: block;
    }

    .left {
      width: 50%;
      @media screen and (max-width: $break-large) {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
      }

      h1 {
        text-align: center;
      }

      p.desc {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      div.mockup {
        background: url("../img/mockup.png") no-repeat center;
        height: 300px;
        width: 580px;
        background-size: contain;
        margin: 50px auto 0;
        @media screen and (max-width: $break-large) {
          width: 80%;
        }
        @media screen and (max-width: $break-small) {
          display: none;
        }
      }
    }

    .right {
      width: 50%;
      @media screen and (max-width: $break-large) {
        width: 100%;
      }
      @media screen and (max-width: $break-small) {
        width: 100%;
      }

      .white-bg {
        background-color: map-get($colors, white);
        border-radius: 8px;
        width: 90%;
        margin: 0 auto;
        padding: 40px 0;
        max-width: 600px;
      }

      h2 {
        text-align: center;
      }

      form {
        top: 110px;
        width: 90%;
        margin: 0 auto;

        div.input-container {
          height: 70px;

          input {
            margin-top: 10px;
          }

          .input-right,
          div.input-left {
            width: 50%;

            .input-centered {
              margin: 0 auto;
              width: 90%;
            }
          }

          div.input-full {
            width: 94%;
            margin: 0 auto;

            input {
              width: 95%;
            }
          }
        }

        div.radio-full {
          width: 94%;
          margin: 0 auto;
          height: 50px;

          .radio:first-child {
            margin-right: 30px;
          }
        }

        .button {
          @include button(secondary, white, 5px, 15px 30px);
        }
      }
    }
  }
}