main.landing {
  height: 100vh;
  overflow-y: hidden;

  .background {
    height: 600px;
    width: 100%;
    position: relative;
    bottom: 595px;
    background: url("../img/landing.jpg");
    z-index: -1;
  }

  section:first-of-type {
    margin-top: 100px;

    .left {
      width: 50%;

      h1 {
        text-align: center;
      }

      p.desc {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      div.mockup {
        background: url("../img/mockup.png") no-repeat;
        height: 300px;
        width: 580px;
        background-size: contain;
        margin: 50px auto 0;
      }
    }

    .right {
      width: 50%;

      .white-bg {
        background-color: map-get($colors, white);
        border-radius: 8px;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
      }

      h2 {
        text-align: center;
      }

      form {
        top: 110px;
        width: 80%;
        margin: 0 auto;

        div.input-container {
          height: 70px;

          input {
            margin-top: 10px;
          }

          .input-right,
          div.input-left {
            width: 50%;

            .input-centered {
              margin: 0 auto;
              width: 90%;
            }
          }

          div.input-full {
            width: 94%;
            margin: 0 auto;

            input {
              width: 95%;
            }
          }
        }

        div.radio-full {
          width: 94%;
          margin: 0 auto;
          height: 50px;

          .radio:first-child {
            margin-right: 30px;
          }
        }

        .button {
          @include button(secondary, white, 5px, 15px 30px);
        }
      }
    }
  }
}