main.weather {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  @media screen and (max-width: $break-large) {
    width: 100vw;
    left: 0;
    padding-bottom: 65px;
    margin-top: 70px;
  }

  .button {
    @include button(secondary, white, 5px, 9px 30px);
    border-radius: 0 5px 5px 0;
    border: none;
  }

  .bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 360px;
    width: 100%;
  }

  #locationinfoinc {
    position: relative;
    max-width: 190px;

    #locationinfotoday {
      span.today {
        font-size: 1.4rem;
      }

      span.todayinfo {
        color: map-get($colors, tertiary);
        font-size: 2rem;
      }
    }
  }
}