main.weather {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;

  .button {
    @include button(secondary, white, 5px, 9px 30px);
    border-radius: 0 5px 5px 0;
    border: none;
  }

  .bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 420px;
    width: 100%;
  }
}