@charset "UTF-8";
/**
 * Mix - Screens Imports SCSS File
 * @author : Brieuc Caillot | Alexandre Bétourné | Yoann Dimaria
 */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/common/_structure.scss */
.d-flex {
  display: flex;
}

/* line 6, ../sass/common/_structure.scss */
.flex-wrap {
  flex-wrap: wrap;
}

/* line 10, ../sass/common/_structure.scss */
.flex-nowrap {
  flex-wrap: nowrap;
}

/* line 14, ../sass/common/_structure.scss */
.flex-row {
  flex-direction: row;
}

/* line 18, ../sass/common/_structure.scss */
.flex-column {
  flex-direction: column;
}

/* line 22, ../sass/common/_structure.scss */
.justify-content-around {
  justify-content: space-around;
}

/* line 26, ../sass/common/_structure.scss */
.justify-content-between {
  justify-content: space-between;
}

/* line 30, ../sass/common/_structure.scss */
.justify-content-center {
  justify-content: center;
}

/* line 34, ../sass/common/_structure.scss */
.justify-content-end {
  justify-content: flex-end;
}

/* line 38, ../sass/common/_structure.scss */
.justify-content-start {
  justify-content: flex-end;
}

/* line 42, ../sass/common/_structure.scss */
.align-content-center {
  align-content: center;
}

/* line 46, ../sass/common/_structure.scss */
.align-content-around {
  align-content: space-around;
}

/* line 50, ../sass/common/_structure.scss */
.align-content-between {
  align-content: space-between;
}

/* line 54, ../sass/common/_structure.scss */
.align-content-start {
  align-content: flex-start;
}

/* line 58, ../sass/common/_structure.scss */
.align-content-end {
  align-content: flex-end;
}

/* line 62, ../sass/common/_structure.scss */
.align-items-center {
  align-items: center;
}

/*////////Z-INDEX////////*/
/* line 67, ../sass/common/_structure.scss */
.zind1 {
  z-index: 1;
}

/* line 71, ../sass/common/_structure.scss */
.zind2 {
  z-index: 2;
}

/* line 75, ../sass/common/_structure.scss */
.zind3 {
  z-index: 3;
}

/*////////BORDER////////*/
/* line 81, ../sass/common/_structure.scss */
.bdr {
  border-radius: 3px;
}

/* line 85, ../sass/common/_structure.scss */
.bdr-top {
  border-radius: 10px 10px 0 0;
}

/* line 89, ../sass/common/_structure.scss */
.bdr-bottom {
  border-radius: 0 0 10px 10px;
}

/* line 93, ../sass/common/_structure.scss */
.bdr-none {
  border-radius: none;
}

/* line 97, ../sass/common/_structure.scss */
.bd-top {
  border-top: 2px solid #000;
}

/* line 101, ../sass/common/_structure.scss */
.bd-bot {
  border-bottom: 2px solid #000;
}

/* line 105, ../sass/common/_structure.scss */
.bbox {
  box-sizing: border-box;
}

/* line 109, ../sass/common/_structure.scss */
.over-hide {
  overflow: hidden;
}

/* line 113, ../sass/common/_structure.scss */
.full-w {
  width: 100%;
}

/* line 117, ../sass/common/_structure.scss */
.full-h {
  height: 100%;
}

/*////////TEXT////////*/
/* line 123, ../sass/common/_structure.scss */
.text-center {
  text-align: center;
}

/* line 127, ../sass/common/_structure.scss */
.is-uppercase {
  text-transform: uppercase;
}

/* line 131, ../sass/common/_structure.scss */
.is-capitalize {
  text-transform: capitalize;
}

/* line 135, ../sass/common/_structure.scss */
.bold {
  font-weight: bold;
}

/* line 139, ../sass/common/_structure.scss */
.thin {
  font-weight: thin;
}

/*////////MARGIN - PADDING////////*/
/* line 144, ../sass/common/_structure.scss */
.mauto {
  margin: auto;
}

/* line 147, ../sass/common/_structure.scss */
.mauto-w {
  margin: 0 auto;
}

/* line 150, ../sass/common/_structure.scss */
.mauto-h {
  margin: auto 0;
}

/* line 155, ../sass/common/_structure.scss */
.mg0 {
  margin: 0px;
}

/* line 158, ../sass/common/_structure.scss */
.pd0 {
  padding: 0px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b0 {
  margin-bottom: 0px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t0 {
  margin-top: 0px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l0 {
  margin-left: 0px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r0 {
  margin-right: 0px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b0 {
  padding-bottom: 0px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t0 {
  padding-top: 0px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l0 {
  padding-left: 0px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r0 {
  padding-right: 0px;
}

/* line 155, ../sass/common/_structure.scss */
.mg1 {
  margin: 10px;
}

/* line 158, ../sass/common/_structure.scss */
.pd1 {
  padding: 10px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b1 {
  margin-bottom: 10px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t1 {
  margin-top: 10px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l1 {
  margin-left: 10px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r1 {
  margin-right: 10px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b1 {
  padding-bottom: 10px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t1 {
  padding-top: 10px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l1 {
  padding-left: 10px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r1 {
  padding-right: 10px;
}

/* line 155, ../sass/common/_structure.scss */
.mg2 {
  margin: 20px;
}

/* line 158, ../sass/common/_structure.scss */
.pd2 {
  padding: 20px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b2 {
  margin-bottom: 20px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t2 {
  margin-top: 20px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l2 {
  margin-left: 20px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r2 {
  margin-right: 20px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b2 {
  padding-bottom: 20px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t2 {
  padding-top: 20px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l2 {
  padding-left: 20px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r2 {
  padding-right: 20px;
}

/* line 155, ../sass/common/_structure.scss */
.mg3 {
  margin: 30px;
}

/* line 158, ../sass/common/_structure.scss */
.pd3 {
  padding: 30px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b3 {
  margin-bottom: 30px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t3 {
  margin-top: 30px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l3 {
  margin-left: 30px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r3 {
  margin-right: 30px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b3 {
  padding-bottom: 30px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t3 {
  padding-top: 30px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l3 {
  padding-left: 30px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r3 {
  padding-right: 30px;
}

/* line 155, ../sass/common/_structure.scss */
.mg4 {
  margin: 40px;
}

/* line 158, ../sass/common/_structure.scss */
.pd4 {
  padding: 40px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b4 {
  margin-bottom: 40px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t4 {
  margin-top: 40px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l4 {
  margin-left: 40px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r4 {
  margin-right: 40px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b4 {
  padding-bottom: 40px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t4 {
  padding-top: 40px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l4 {
  padding-left: 40px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r4 {
  padding-right: 40px;
}

/* line 155, ../sass/common/_structure.scss */
.mg5 {
  margin: 50px;
}

/* line 158, ../sass/common/_structure.scss */
.pd5 {
  padding: 50px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b5 {
  margin-bottom: 50px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t5 {
  margin-top: 50px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l5 {
  margin-left: 50px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r5 {
  margin-right: 50px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b5 {
  padding-bottom: 50px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t5 {
  padding-top: 50px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l5 {
  padding-left: 50px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r5 {
  padding-right: 50px;
}

/* line 155, ../sass/common/_structure.scss */
.mg6 {
  margin: 60px;
}

/* line 158, ../sass/common/_structure.scss */
.pd6 {
  padding: 60px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b6 {
  margin-bottom: 60px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t6 {
  margin-top: 60px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l6 {
  margin-left: 60px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r6 {
  margin-right: 60px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b6 {
  padding-bottom: 60px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t6 {
  padding-top: 60px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l6 {
  padding-left: 60px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r6 {
  padding-right: 60px;
}

/* line 155, ../sass/common/_structure.scss */
.mg7 {
  margin: 70px;
}

/* line 158, ../sass/common/_structure.scss */
.pd7 {
  padding: 70px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b7 {
  margin-bottom: 70px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t7 {
  margin-top: 70px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l7 {
  margin-left: 70px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r7 {
  margin-right: 70px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b7 {
  padding-bottom: 70px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t7 {
  padding-top: 70px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l7 {
  padding-left: 70px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r7 {
  padding-right: 70px;
}

/* line 155, ../sass/common/_structure.scss */
.mg8 {
  margin: 80px;
}

/* line 158, ../sass/common/_structure.scss */
.pd8 {
  padding: 80px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b8 {
  margin-bottom: 80px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t8 {
  margin-top: 80px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l8 {
  margin-left: 80px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r8 {
  margin-right: 80px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b8 {
  padding-bottom: 80px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t8 {
  padding-top: 80px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l8 {
  padding-left: 80px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r8 {
  padding-right: 80px;
}

/* line 155, ../sass/common/_structure.scss */
.mg9 {
  margin: 90px;
}

/* line 158, ../sass/common/_structure.scss */
.pd9 {
  padding: 90px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b9 {
  margin-bottom: 90px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t9 {
  margin-top: 90px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l9 {
  margin-left: 90px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r9 {
  margin-right: 90px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b9 {
  padding-bottom: 90px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t9 {
  padding-top: 90px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l9 {
  padding-left: 90px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r9 {
  padding-right: 90px;
}

/* line 155, ../sass/common/_structure.scss */
.mg10 {
  margin: 100px;
}

/* line 158, ../sass/common/_structure.scss */
.pd10 {
  padding: 100px;
}

/*////////MARGIN////////*/
/* line 163, ../sass/common/_structure.scss */
.mg-b10 {
  margin-bottom: 100px;
}

/* line 166, ../sass/common/_structure.scss */
.mg-t10 {
  margin-top: 100px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-l10 {
  margin-left: 100px;
}

/* line 172, ../sass/common/_structure.scss */
.mg-r10 {
  margin-right: 100px;
}

/*////////PADDING////////*/
/* line 178, ../sass/common/_structure.scss */
.pd-b10 {
  padding-bottom: 100px;
}

/* line 181, ../sass/common/_structure.scss */
.pd-t10 {
  padding-top: 100px;
}

/* line 184, ../sass/common/_structure.scss */
.pd-l10 {
  padding-left: 100px;
}

/* line 187, ../sass/common/_structure.scss */
.pd-r10 {
  padding-right: 100px;
}

/* line 192, ../sass/common/_structure.scss */
input:focus {
  outline: none;
}

/* line 1, ../sass/templates/_layout.scss */
body,
html {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/templates/_layout.scss */
header {
  height: 100px;
  background: red;
  width: 100%;
}
