@charset "UTF-8";
/**
 * Mix - Screens Imports SCSS File
 * @author : Brieuc Caillot | Alexandre Bétourné | Yoann Dimaria
 */
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/common/_structure.scss */
.flex {
  display: flex;
}

/* line 7, ../sass/common/_structure.scss */
.flex-wrap {
  flex-wrap: wrap;
}

/* line 11, ../sass/common/_structure.scss */
.flex-nowrap {
  flex-wrap: nowrap;
}

/* line 15, ../sass/common/_structure.scss */
.flex-row {
  flex-direction: row;
}

/* line 19, ../sass/common/_structure.scss */
.flex-column {
  flex-direction: column;
}

/* line 23, ../sass/common/_structure.scss */
.justify-content-around {
  justify-content: space-around;
}

/* line 27, ../sass/common/_structure.scss */
.justify-content-between {
  justify-content: space-between;
}

/* line 31, ../sass/common/_structure.scss */
.justify-content-center {
  justify-content: center;
}

/* line 35, ../sass/common/_structure.scss */
.justify-content-end {
  justify-content: flex-end;
}

/* line 39, ../sass/common/_structure.scss */
.justify-content-start {
  justify-content: flex-end;
}

/* line 43, ../sass/common/_structure.scss */
.align-content-center {
  align-content: center;
}

/* line 47, ../sass/common/_structure.scss */
.align-content-around {
  align-content: space-around;
}

/* line 51, ../sass/common/_structure.scss */
.align-content-between {
  align-content: space-between;
}

/* line 55, ../sass/common/_structure.scss */
.align-content-start {
  align-content: flex-start;
}

/* line 59, ../sass/common/_structure.scss */
.align-content-end {
  align-content: flex-end;
}

/* line 63, ../sass/common/_structure.scss */
.align-items-center {
  align-items: center;
}

/* line 67, ../sass/common/_structure.scss */
.block {
  display: block;
}

/* line 73, ../sass/common/_structure.scss */
.zind1 {
  z-index: 1;
}

/* line 77, ../sass/common/_structure.scss */
.zind2 {
  z-index: 2;
}

/* line 81, ../sass/common/_structure.scss */
.zind3 {
  z-index: 3;
}

/*/
///////BORDER////////*/
/* line 87, ../sass/common/_structure.scss */
.bdr {
  border-radius: 3px;
}

/* line 91, ../sass/common/_structure.scss */
.bdr-top {
  border-radius: 10px 10px 0 0;
}

/* line 95, ../sass/common/_structure.scss */
.bdr-bottom {
  border-radius: 0 0 10px 10px;
}

/* line 99, ../sass/common/_structure.scss */
.bdr-none {
  border-radius: none;
}

/* line 103, ../sass/common/_structure.scss */
.bd-top {
  border-top: 2px solid #000;
}

/* line 107, ../sass/common/_structure.scss */
.bd-bot {
  border-bottom: 2px solid #000;
}

/* line 111, ../sass/common/_structure.scss */
.bbox {
  box-sizing: border-box;
}

/* line 115, ../sass/common/_structure.scss */
.over_hide {
  overflow: hidden;
}

/* line 119, ../sass/common/_structure.scss */
.full-w {
  width: 100%;
}

/* line 123, ../sass/common/_structure.scss */
.full-h {
  height: 100%;
}

/*/
///////TEXT////////*/
/* line 129, ../sass/common/_structure.scss */
.text_center {
  text-align: center;
}

/* line 133, ../sass/common/_structure.scss */
.is-uppercase {
  text-transform: uppercase;
}

/* line 137, ../sass/common/_structure.scss */
.is-capitalize {
  text-transform: capitalize;
}

/* line 141, ../sass/common/_structure.scss */
.bold {
  font-weight: bold;
}

/* line 145, ../sass/common/_structure.scss */
.thin {
  font-weight: thin;
}

/*/
///////MARGIN - PADDING////////*/
/* line 151, ../sass/common/_structure.scss */
.mauto {
  margin: 0 auto;
}

/* line 156, ../sass/common/_structure.scss */
.mg0 {
  margin: 0px;
}

/* line 160, ../sass/common/_structure.scss */
.pd0 {
  padding: 0px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b0 {
  margin-bottom: 0px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t0 {
  margin-top: 0px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l0 {
  margin-left: 0px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r0 {
  margin-right: 0px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b0 {
  padding-bottom: 0px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t0 {
  padding-top: 0px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l0 {
  padding-left: 0px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r0 {
  padding-right: 0px;
}

/* line 156, ../sass/common/_structure.scss */
.mg1 {
  margin: 10px;
}

/* line 160, ../sass/common/_structure.scss */
.pd1 {
  padding: 10px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b1 {
  margin-bottom: 10px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t1 {
  margin-top: 10px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l1 {
  margin-left: 10px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r1 {
  margin-right: 10px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b1 {
  padding-bottom: 10px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t1 {
  padding-top: 10px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l1 {
  padding-left: 10px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r1 {
  padding-right: 10px;
}

/* line 156, ../sass/common/_structure.scss */
.mg2 {
  margin: 20px;
}

/* line 160, ../sass/common/_structure.scss */
.pd2 {
  padding: 20px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b2 {
  margin-bottom: 20px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t2 {
  margin-top: 20px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l2 {
  margin-left: 20px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r2 {
  margin-right: 20px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b2 {
  padding-bottom: 20px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t2 {
  padding-top: 20px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l2 {
  padding-left: 20px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r2 {
  padding-right: 20px;
}

/* line 156, ../sass/common/_structure.scss */
.mg3 {
  margin: 30px;
}

/* line 160, ../sass/common/_structure.scss */
.pd3 {
  padding: 30px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b3 {
  margin-bottom: 30px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t3 {
  margin-top: 30px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l3 {
  margin-left: 30px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r3 {
  margin-right: 30px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b3 {
  padding-bottom: 30px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t3 {
  padding-top: 30px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l3 {
  padding-left: 30px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r3 {
  padding-right: 30px;
}

/* line 156, ../sass/common/_structure.scss */
.mg4 {
  margin: 40px;
}

/* line 160, ../sass/common/_structure.scss */
.pd4 {
  padding: 40px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b4 {
  margin-bottom: 40px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t4 {
  margin-top: 40px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l4 {
  margin-left: 40px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r4 {
  margin-right: 40px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b4 {
  padding-bottom: 40px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t4 {
  padding-top: 40px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l4 {
  padding-left: 40px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r4 {
  padding-right: 40px;
}

/* line 156, ../sass/common/_structure.scss */
.mg5 {
  margin: 50px;
}

/* line 160, ../sass/common/_structure.scss */
.pd5 {
  padding: 50px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b5 {
  margin-bottom: 50px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t5 {
  margin-top: 50px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l5 {
  margin-left: 50px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r5 {
  margin-right: 50px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b5 {
  padding-bottom: 50px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t5 {
  padding-top: 50px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l5 {
  padding-left: 50px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r5 {
  padding-right: 50px;
}

/* line 156, ../sass/common/_structure.scss */
.mg6 {
  margin: 60px;
}

/* line 160, ../sass/common/_structure.scss */
.pd6 {
  padding: 60px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b6 {
  margin-bottom: 60px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t6 {
  margin-top: 60px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l6 {
  margin-left: 60px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r6 {
  margin-right: 60px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b6 {
  padding-bottom: 60px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t6 {
  padding-top: 60px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l6 {
  padding-left: 60px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r6 {
  padding-right: 60px;
}

/* line 156, ../sass/common/_structure.scss */
.mg7 {
  margin: 70px;
}

/* line 160, ../sass/common/_structure.scss */
.pd7 {
  padding: 70px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b7 {
  margin-bottom: 70px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t7 {
  margin-top: 70px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l7 {
  margin-left: 70px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r7 {
  margin-right: 70px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b7 {
  padding-bottom: 70px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t7 {
  padding-top: 70px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l7 {
  padding-left: 70px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r7 {
  padding-right: 70px;
}

/* line 156, ../sass/common/_structure.scss */
.mg8 {
  margin: 80px;
}

/* line 160, ../sass/common/_structure.scss */
.pd8 {
  padding: 80px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b8 {
  margin-bottom: 80px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t8 {
  margin-top: 80px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l8 {
  margin-left: 80px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r8 {
  margin-right: 80px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b8 {
  padding-bottom: 80px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t8 {
  padding-top: 80px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l8 {
  padding-left: 80px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r8 {
  padding-right: 80px;
}

/* line 156, ../sass/common/_structure.scss */
.mg9 {
  margin: 90px;
}

/* line 160, ../sass/common/_structure.scss */
.pd9 {
  padding: 90px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b9 {
  margin-bottom: 90px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t9 {
  margin-top: 90px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l9 {
  margin-left: 90px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r9 {
  margin-right: 90px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b9 {
  padding-bottom: 90px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t9 {
  padding-top: 90px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l9 {
  padding-left: 90px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r9 {
  padding-right: 90px;
}

/* line 156, ../sass/common/_structure.scss */
.mg10 {
  margin: 100px;
}

/* line 160, ../sass/common/_structure.scss */
.pd10 {
  padding: 100px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b10 {
  margin-bottom: 100px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t10 {
  margin-top: 100px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l10 {
  margin-left: 100px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r10 {
  margin-right: 100px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b10 {
  padding-bottom: 100px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t10 {
  padding-top: 100px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l10 {
  padding-left: 100px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r10 {
  padding-right: 100px;
}

/* line 199, ../sass/common/_structure.scss */
input:focus {
  outline: none;
}

/* line 1, ../sass/common/_texts.scss */
body {
  font-family: 'Avenir Next';
}

/* line 5, ../sass/common/_texts.scss */
h1 {
  font-size: 2rem;
  font-family: 'Quicksand';
}

/* line 10, ../sass/common/_texts.scss */
h2 {
  font-size: 2rem;
  font-family: 'Quicksand';
}

/* line 15, ../sass/common/_texts.scss */
h3 {
  font-size: 1.5rem;
  font-family: Quicksand;
}

/* line 20, ../sass/common/_texts.scss */
p.desc {
  font-size: 1rem;
  line-height: 26px;
}

/* line 26, ../sass/common/_texts.scss */
.text.is-primary {
  color: #FF5C3E;
}
/* line 30, ../sass/common/_texts.scss */
.text.is-secondary {
  color: #404258;
}

/* line 1, ../sass/components/_inputs.scss */
.input, .input-right-less {
  display: block;
  height: 22px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* line 15, ../sass/components/_inputs.scss */
.input-right-less {
  border-radius: 0.25rem 0 0 0.25rem;
}

/* line 1, ../sass/templates/_feed.scss */
#feed {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  background: #EFEFEF;
  font-family: 'Quicksand';
  margin-top: 100px;
}
/* line 10, ../sass/templates/_feed.scss */
#feed .type_content {
  width: 100%;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
/* line 17, ../sass/templates/_feed.scss */
#feed .type_content .profile_img {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
/* line 23, ../sass/templates/_feed.scss */
#feed .type_content .profile_img img {
  width: 100%;
}
/* line 28, ../sass/templates/_feed.scss */
#feed .type_content input {
  border-radius: 50px;
  border: none;
  height: 40px;
}
/* line 33, ../sass/templates/_feed.scss */
#feed .type_content input:first-child {
  border: solid 1px #C2C2C2;
  padding-left: 10px;
}
/* line 37, ../sass/templates/_feed.scss */
#feed .type_content input:first-child::placeholder {
  color: #C2C2C2;
}
/* line 42, ../sass/templates/_feed.scss */
#feed .type_content input:last-child {
  background: url("../../img/send.svg") #FF5C3E;
}
/* line 48, ../sass/templates/_feed.scss */
#feed.board_open {
  width: 85vw;
}
/* line 52, ../sass/templates/_feed.scss */
#feed .container {
  margin: 0 auto;
}
/* line 55, ../sass/templates/_feed.scss */
#feed .container .grid-sizer,
#feed .container .post {
  width: 32%;
}
@media screen and (max-width: 1200px) {
  /* line 55, ../sass/templates/_feed.scss */
  #feed .container .grid-sizer,
  #feed .container .post {
    width: 49%;
  }
}
@media screen and (max-width: 769px) {
  /* line 55, ../sass/templates/_feed.scss */
  #feed .container .grid-sizer,
  #feed .container .post {
    width: 100%;
  }
}
/* line 66, ../sass/templates/_feed.scss */
#feed .container .gutter-sizer {
  width: 2%;
}

/* line 72, ../sass/templates/_feed.scss */
.post {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  background: white;
}
/* line 79, ../sass/templates/_feed.scss */
.post .top {
  width: 100%;
}
/* line 82, ../sass/templates/_feed.scss */
.post .top .profile_img {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
/* line 87, ../sass/templates/_feed.scss */
.post .top .profile_img img {
  height: 100%;
}
/* line 93, ../sass/templates/_feed.scss */
.post .top .name_date .name {
  font-size: 17px;
}
/* line 97, ../sass/templates/_feed.scss */
.post .top .name_date .date {
  font-size: 13px;
}
/* line 103, ../sass/templates/_feed.scss */
.post .content {
  width: 100%;
}
/* line 106, ../sass/templates/_feed.scss */
.post .content .text {
  line-height: 22px;
  font-size: 14px;
}
/* line 112, ../sass/templates/_feed.scss */
.post .content .img img {
  width: 100%;
}
/* line 116, ../sass/templates/_feed.scss */
.post .content .img video {
  width: 100%;
}
/* line 123, ../sass/templates/_feed.scss */
.post .reaction_counter span {
  color: #9B9B9B;
  font-size: 13px;
}
/* line 128, ../sass/templates/_feed.scss */
.post .reaction_counter svg {
  height: 12px;
}
/* line 131, ../sass/templates/_feed.scss */
.post .reaction_counter svg g {
  fill: #9B9B9B;
}
/* line 138, ../sass/templates/_feed.scss */
.post .reaction .comment,
.post .reaction .fire,
.post .reaction .share {
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 10px 0;
  position: relative;
  height: 20px;
  cursor: pointer;
  color: black;
  transition: 0.2s ease;
  border-radius: 10px;
}
/* line 152, ../sass/templates/_feed.scss */
.post .reaction .comment.active.fire,
.post .reaction .fire.active.fire,
.post .reaction .share.active.fire {
  background: #FF5C3E;
}
/* line 156, ../sass/templates/_feed.scss */
.post .reaction .comment.active .comment_icon,
.post .reaction .comment.active .fire_icon,
.post .reaction .comment.active .share_icon,
.post .reaction .fire.active .comment_icon,
.post .reaction .fire.active .fire_icon,
.post .reaction .fire.active .share_icon,
.post .reaction .share.active .comment_icon,
.post .reaction .share.active .fire_icon,
.post .reaction .share.active .share_icon {
  fill: white;
}
/* line 163, ../sass/templates/_feed.scss */
.post .reaction .comment svg,
.post .reaction .fire svg,
.post .reaction .share svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* line 172, ../sass/templates/_feed.scss */
.post .comments_section {
  display: none;
}
/* line 176, ../sass/templates/_feed.scss */
.post .comments_section form label {
  width: 10%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
}
/* line 182, ../sass/templates/_feed.scss */
.post .comments_section form label img {
  width: 100%;
}
/* line 187, ../sass/templates/_feed.scss */
.post .comments_section form input {
  width: 85%;
  border-radius: 50px;
  border: solid 1px lightgray;
  padding: 5px;
}
/* line 198, ../sass/templates/_feed.scss */
.post .comments_section .contain > div .author .profile_img {
  width: 10%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
}
/* line 204, ../sass/templates/_feed.scss */
.post .comments_section .contain > div .author .profile_img img {
  width: 100%;
}
/* line 209, ../sass/templates/_feed.scss */
.post .comments_section .contain > div .author .comment {
  background-color: #F4F4F4;
  padding: 10px 5px;
  font-size: 14px;
  border-radius: 10px;
  width: 85%;
}
/* line 216, ../sass/templates/_feed.scss */
.post .comments_section .contain > div .author .comment .name {
  font-weight: bold;
  color: #FF5C3E;
}

/* line 1, ../sass/templates/_layout.scss */
body,
html {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/templates/_layout.scss */
header {
  width: 94vw;
  position: fixed;
  top: 0;
  left: 6vw;
  height: 10vh;
  background: white;
  z-index: 1000;
  padding: 0 20px;
  box-sizing: border-box;
}
/* line 18, ../sass/templates/_layout.scss */
header.board_open {
  width: 85vw;
  left: 15vw;
}
/* line 23, ../sass/templates/_layout.scss */
header img {
  width: 100px;
}
/* line 27, ../sass/templates/_layout.scss */
header > div {
  width: 50%;
}
/* line 30, ../sass/templates/_layout.scss */
header > div:last-child {
  justify-content: flex-end;
}
/* line 34, ../sass/templates/_layout.scss */
header > div:last-child .notification img {
  width: 30px;
}
/* line 39, ../sass/templates/_layout.scss */
header > div:last-child .profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
/* line 44, ../sass/templates/_layout.scss */
header > div:last-child .profile_img img {
  width: 100%;
}
/* line 49, ../sass/templates/_layout.scss */
header > div:last-child .burger_right {
  cursor: pointer;
  font-weight: bold;
  font-family: 'Quicksand';
  font-size: 15px;
  background: url("../../assets/img/burger.svg") no-repeat 0 center;
  background-size: 30px;
  padding: 10px 0 10px 40px;
}
/* line 58, ../sass/templates/_layout.scss */
header > div:last-child .burger_right:focus {
  outline: none;
}

/* line 67, ../sass/templates/_layout.scss */
#search input {
  border: solid 1px #4A4A4A;
  height: 30px;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  width: 200px;
  border-right: none;
}
/* line 75, ../sass/templates/_layout.scss */
#search input::placeholder {
  color: lightgray;
}
/* line 80, ../sass/templates/_layout.scss */
#search label {
  background: #FF5C3E;
  height: 30px;
  width: 50px;
  position: relative;
}
/* line 86, ../sass/templates/_layout.scss */
#search label img {
  width: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 96, ../sass/templates/_layout.scss */
#board {
  position: fixed;
  top: 0;
  left: 0;
  width: 6vw;
  height: 100vh;
  background: #4A4A4A;
  padding-top: 35px;
  z-index: 2;
}
/* line 106, ../sass/templates/_layout.scss */
#board.open {
  width: 15vw;
}
/* line 109, ../sass/templates/_layout.scss */
#board.open ul {
  width: 140px;
  margin: 50px auto 0;
}
/* line 113, ../sass/templates/_layout.scss */
#board.open ul li {
  display: flex;
  align-items: center;
}
/* line 117, ../sass/templates/_layout.scss */
#board.open ul li span {
  margin-left: 10px;
}
/* line 123, ../sass/templates/_layout.scss */
#board.open .feed_label::after {
  content: "Flux d'actualité";
}
/* line 127, ../sass/templates/_layout.scss */
#board.open .chat_label::after {
  content: "Chat";
}
/* line 131, ../sass/templates/_layout.scss */
#board.open .calendar_label::after {
  content: "Calendrier";
}
/* line 135, ../sass/templates/_layout.scss */
#board.open .weather_label::after {
  content: "Météo";
}
/* line 139, ../sass/templates/_layout.scss */
#board.open .settings_label::after {
  content: "Paramètres";
}
/* line 144, ../sass/templates/_layout.scss */
#board > div {
  cursor: pointer;
}
/* line 149, ../sass/templates/_layout.scss */
#board ul li {
  cursor: pointer;
  color: white;
  font-family: 'Quicksand';
}
/* line 154, ../sass/templates/_layout.scss */
#board ul li:hover {
  color: #FF5C3E;
}
/* line 157, ../sass/templates/_layout.scss */
#board ul li:hover path {
  fill: #FF5C3E;
}

/* line 1, ../sass/templates/_landing.scss */
main.landing {
  height: 100vh;
  overflow-y: hidden;
}
/* line 5, ../sass/templates/_landing.scss */
main.landing .background {
  height: 600px;
  width: 100%;
  position: relative;
  bottom: 595px;
  background: url(../img/landing.jpg);
  z-index: -1;
}
/* line 17, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left {
  position: relative;
  width: 50%;
}
/* line 20, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left h1 {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  max-width: 565px;
  width: 100%;
}
/* line 29, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left p.desc {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%);
  max-width: 560px;
  width: 100%;
}
/* line 38, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left h3 {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  max-width: 565px;
  width: 100%;
}
/* line 47, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left div.mockup {
  background: url(../img/mockup.png) no-repeat;
  height: 300px;
  width: 580px;
  background-size: contain;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
}
/* line 59, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right {
  position: relative;
  width: 50%;
}
/* line 63, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right .white-bg {
  position: relative;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  max-height: 650px;
}
/* line 74, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right h2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  max-width: 570px;
}
/* line 83, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form {
  position: absolute;
  transform: translate(-50%);
  top: 110px;
  left: 50%;
  width: 80%;
}
/* line 90, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container {
  height: 70px;
}
/* line 93, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container input {
  margin-top: 10px;
}
/* line 96, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container div.input-left, main.landing section:first-of-type .right form div.input-container .input-right {
  width: 50%;
}
/* line 98, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container div.input-left .input-centered, main.landing section:first-of-type .right form div.input-container .input-right .input-centered {
  margin: 0 auto;
  width: 90%;
}
/* line 103, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container div.input-full {
  width: 94%;
  margin: 0 auto;
}
/* line 106, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container div.input-full input {
  width: 95%;
}
/* line 111, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.radio-full {
  width: 94%;
  margin: 0 auto;
  height: 50px;
}
/* line 115, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.radio-full .radio:first-child {
  margin-right: 30px;
}
/* line 120, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form .button {
  background-color: #404258;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 15px 30px;
}

/* line 1, ../sass/templates/_weather.scss */
main.weather {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
}
/* line 8, ../sass/templates/_weather.scss */
main.weather .button {
  background-color: #404258;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 9px 30px;
  border-radius: 0 5px 5px 0;
  border: none;
}
/* line 14, ../sass/templates/_weather.scss */
main.weather .bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
  width: 100%;
}
/* line 22, ../sass/templates/_weather.scss */
main.weather #locationinfoinc {
  position: relative;
  max-width: 190px;
}
/* line 26, ../sass/templates/_weather.scss */
main.weather #locationinfoinc #locationinfotoday span.today {
  font-size: 1.4rem;
}
/* line 29, ../sass/templates/_weather.scss */
main.weather #locationinfoinc #locationinfotoday span.todayinfo {
  color: #FF1C48;
  font-size: 2rem;
}

/* line 1, ../sass/templates/_chat.scss */
#chat {
  width: 94vw;
  margin-top: 10vh;
  float: right;
  height: 90vh;
}
/* line 8, ../sass/templates/_chat.scss */
#chat > section:first-child {
  width: 20%;
  background-color: red;
}
/* line 13, ../sass/templates/_chat.scss */
#chat > section:last-child {
  width: 80%;
  border: solid 1px grey;
  position: relative;
}
/* line 18, ../sass/templates/_chat.scss */
#chat > section:last-child .top {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: solid 1px grey;
}
/* line 23, ../sass/templates/_chat.scss */
#chat > section:last-child .top .profile_img {
  border-radius: 50px;
  height: 35px;
  width: 35px;
}
/* line 28, ../sass/templates/_chat.scss */
#chat > section:last-child .top .profile_img img {
  width: 100%;
}
/* line 36, ../sass/templates/_chat.scss */
#chat > section:last-child .top .name > div span:first-child {
  font-weight: 500;
}
/* line 40, ../sass/templates/_chat.scss */
#chat > section:last-child .top .name > div span:last-child {
  font-size: 12px;
  margin-top: 5px;
}
/* line 49, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container {
  padding: 20px;
}
/* line 52, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .sent {
  flex-direction: row-reverse;
}
/* line 55, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .sent .profile_img {
  margin-left: 10px;
}
/* line 59, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .sent .mes {
  border-right: solid 3px orange;
}
/* line 65, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .dest .profile_img {
  margin-right: 10px;
}
/* line 69, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .dest .mes {
  border-left: solid 3px red;
}
/* line 74, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .profile_img {
  border-radius: 50px;
  height: 30px;
  width: 30px;
}
/* line 79, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .profile_img img {
  width: 100%;
}
/* line 84, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .mes {
  margin-bottom: 15px;
  max-width: 60%;
  padding: 10px;
  box-sizing: border-box;
  color: gray;
  border-radius: 5px;
  border: solid 1px Gainsboro;
  font-size: 14px;
}
/* line 96, ../sass/templates/_chat.scss */
#chat > section:last-child .write {
  padding: 5px 10px;
  border-top: solid 1px silver;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}
/* line 103, ../sass/templates/_chat.scss */
#chat > section:last-child .write .profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
/* line 108, ../sass/templates/_chat.scss */
#chat > section:last-child .write .profile_img img {
  width: 100%;
}
/* line 113, ../sass/templates/_chat.scss */
#chat > section:last-child .write form {
  width: 70%;
}
/* line 116, ../sass/templates/_chat.scss */
#chat > section:last-child .write form input {
  border-radius: 5px;
  border: none;
  border: solid 1px Gainsboro;
  padding: 5px;
  box-sizing: border-box;
}
/* line 123, ../sass/templates/_chat.scss */
#chat > section:last-child .write form input::placeholder {
  color: Gainsboro;
}
/* line 129, ../sass/templates/_chat.scss */
#chat > section:last-child .write .media {
  background: #FF5C3E;
  border-radius: 50px;
  padding: 8px 5px 5px;
  border: none;
}
/* line 135, ../sass/templates/_chat.scss */
#chat > section:last-child .write .media svg {
  width: 22px;
}
/* line 140, ../sass/templates/_chat.scss */
#chat > section:last-child .write .gif {
  padding: 10px 7px;
  border: none;
  background: blue;
  border-radius: 50px;
  color: white;
}
