@charset "UTF-8";
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/common/_structure.scss */
.flex {
  display: flex;
}

/* line 7, ../sass/common/_structure.scss */
.flex-wrap {
  flex-wrap: wrap;
}

/* line 11, ../sass/common/_structure.scss */
.flex-nowrap {
  flex-wrap: nowrap;
}

/* line 15, ../sass/common/_structure.scss */
.flex-row {
  flex-direction: row;
}

/* line 19, ../sass/common/_structure.scss */
.flex-column {
  flex-direction: column;
}

/* line 23, ../sass/common/_structure.scss */
.justify-content-around {
  justify-content: space-around;
}

/* line 27, ../sass/common/_structure.scss */
.justify-content-between {
  justify-content: space-between;
}

/* line 31, ../sass/common/_structure.scss */
.justify-content-center {
  justify-content: center;
}

/* line 35, ../sass/common/_structure.scss */
.justify-content-end {
  justify-content: flex-end;
}

/* line 39, ../sass/common/_structure.scss */
.justify-content-start {
  justify-content: flex-end;
}

/* line 43, ../sass/common/_structure.scss */
.align-content-center {
  align-content: center;
}

/* line 47, ../sass/common/_structure.scss */
.align-content-around {
  align-content: space-around;
}

/* line 51, ../sass/common/_structure.scss */
.align-content-between {
  align-content: space-between;
}

/* line 55, ../sass/common/_structure.scss */
.align-content-start {
  align-content: flex-start;
}

/* line 59, ../sass/common/_structure.scss */
.align-content-end {
  align-content: flex-end;
}

/* line 63, ../sass/common/_structure.scss */
.align-items-center {
  align-items: center;
}

/* line 67, ../sass/common/_structure.scss */
.block {
  display: block;
}

/* line 73, ../sass/common/_structure.scss */
.zind1 {
  z-index: 1;
}

/* line 77, ../sass/common/_structure.scss */
.zind2 {
  z-index: 2;
}

/* line 81, ../sass/common/_structure.scss */
.zind3 {
  z-index: 3;
}

/*/
///////BORDER////////*/
/* line 87, ../sass/common/_structure.scss */
.bdr {
  border-radius: 3px;
}

/* line 91, ../sass/common/_structure.scss */
.bdr-top {
  border-radius: 10px 10px 0 0;
}

/* line 95, ../sass/common/_structure.scss */
.bdr-bottom {
  border-radius: 0 0 10px 10px;
}

/* line 99, ../sass/common/_structure.scss */
.bdr-none {
  border-radius: none;
}

/* line 103, ../sass/common/_structure.scss */
.bd-top {
  border-top: 2px solid #000;
}

/* line 107, ../sass/common/_structure.scss */
.bd-bot {
  border-bottom: 2px solid #000;
}

/* line 111, ../sass/common/_structure.scss */
.bbox {
  box-sizing: border-box;
}

/* line 115, ../sass/common/_structure.scss */
.over_hide {
  overflow: hidden;
}

/* line 119, ../sass/common/_structure.scss */
.full-w {
  width: 100%;
}

/* line 123, ../sass/common/_structure.scss */
.full-h {
  height: 100%;
}

/*/
///////TEXT////////*/
/* line 129, ../sass/common/_structure.scss */
.text_center {
  text-align: center;
}

/* line 133, ../sass/common/_structure.scss */
.is-uppercase {
  text-transform: uppercase;
}

/* line 137, ../sass/common/_structure.scss */
.is-capitalize {
  text-transform: capitalize;
}

/* line 141, ../sass/common/_structure.scss */
.bold {
  font-weight: bold;
}

/* line 145, ../sass/common/_structure.scss */
.thin {
  font-weight: thin;
}

/*/
///////MARGIN - PADDING////////*/
/* line 151, ../sass/common/_structure.scss */
.mauto {
  margin: 0 auto;
}

/* line 156, ../sass/common/_structure.scss */
.mg0 {
  margin: 0px;
}

/* line 160, ../sass/common/_structure.scss */
.pd0 {
  padding: 0px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b0 {
  margin-bottom: 0px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t0 {
  margin-top: 0px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l0 {
  margin-left: 0px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r0 {
  margin-right: 0px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b0 {
  padding-bottom: 0px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t0 {
  padding-top: 0px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l0 {
  padding-left: 0px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r0 {
  padding-right: 0px;
}

/* line 156, ../sass/common/_structure.scss */
.mg1 {
  margin: 10px;
}

/* line 160, ../sass/common/_structure.scss */
.pd1 {
  padding: 10px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b1 {
  margin-bottom: 10px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t1 {
  margin-top: 10px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l1 {
  margin-left: 10px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r1 {
  margin-right: 10px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b1 {
  padding-bottom: 10px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t1 {
  padding-top: 10px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l1 {
  padding-left: 10px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r1 {
  padding-right: 10px;
}

/* line 156, ../sass/common/_structure.scss */
.mg2 {
  margin: 20px;
}

/* line 160, ../sass/common/_structure.scss */
.pd2 {
  padding: 20px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b2 {
  margin-bottom: 20px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t2 {
  margin-top: 20px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l2 {
  margin-left: 20px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r2 {
  margin-right: 20px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b2 {
  padding-bottom: 20px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t2 {
  padding-top: 20px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l2 {
  padding-left: 20px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r2 {
  padding-right: 20px;
}

/* line 156, ../sass/common/_structure.scss */
.mg3 {
  margin: 30px;
}

/* line 160, ../sass/common/_structure.scss */
.pd3 {
  padding: 30px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b3 {
  margin-bottom: 30px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t3 {
  margin-top: 30px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l3 {
  margin-left: 30px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r3 {
  margin-right: 30px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b3 {
  padding-bottom: 30px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t3 {
  padding-top: 30px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l3 {
  padding-left: 30px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r3 {
  padding-right: 30px;
}

/* line 156, ../sass/common/_structure.scss */
.mg4 {
  margin: 40px;
}

/* line 160, ../sass/common/_structure.scss */
.pd4 {
  padding: 40px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b4 {
  margin-bottom: 40px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t4 {
  margin-top: 40px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l4 {
  margin-left: 40px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r4 {
  margin-right: 40px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b4 {
  padding-bottom: 40px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t4 {
  padding-top: 40px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l4 {
  padding-left: 40px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r4 {
  padding-right: 40px;
}

/* line 156, ../sass/common/_structure.scss */
.mg5 {
  margin: 50px;
}

/* line 160, ../sass/common/_structure.scss */
.pd5 {
  padding: 50px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b5 {
  margin-bottom: 50px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t5 {
  margin-top: 50px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l5 {
  margin-left: 50px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r5 {
  margin-right: 50px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b5 {
  padding-bottom: 50px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t5 {
  padding-top: 50px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l5 {
  padding-left: 50px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r5 {
  padding-right: 50px;
}

/* line 156, ../sass/common/_structure.scss */
.mg6 {
  margin: 60px;
}

/* line 160, ../sass/common/_structure.scss */
.pd6 {
  padding: 60px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b6 {
  margin-bottom: 60px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t6 {
  margin-top: 60px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l6 {
  margin-left: 60px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r6 {
  margin-right: 60px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b6 {
  padding-bottom: 60px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t6 {
  padding-top: 60px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l6 {
  padding-left: 60px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r6 {
  padding-right: 60px;
}

/* line 156, ../sass/common/_structure.scss */
.mg7 {
  margin: 70px;
}

/* line 160, ../sass/common/_structure.scss */
.pd7 {
  padding: 70px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b7 {
  margin-bottom: 70px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t7 {
  margin-top: 70px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l7 {
  margin-left: 70px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r7 {
  margin-right: 70px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b7 {
  padding-bottom: 70px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t7 {
  padding-top: 70px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l7 {
  padding-left: 70px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r7 {
  padding-right: 70px;
}

/* line 156, ../sass/common/_structure.scss */
.mg8 {
  margin: 80px;
}

/* line 160, ../sass/common/_structure.scss */
.pd8 {
  padding: 80px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b8 {
  margin-bottom: 80px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t8 {
  margin-top: 80px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l8 {
  margin-left: 80px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r8 {
  margin-right: 80px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b8 {
  padding-bottom: 80px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t8 {
  padding-top: 80px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l8 {
  padding-left: 80px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r8 {
  padding-right: 80px;
}

/* line 156, ../sass/common/_structure.scss */
.mg9 {
  margin: 90px;
}

/* line 160, ../sass/common/_structure.scss */
.pd9 {
  padding: 90px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b9 {
  margin-bottom: 90px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t9 {
  margin-top: 90px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l9 {
  margin-left: 90px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r9 {
  margin-right: 90px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b9 {
  padding-bottom: 90px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t9 {
  padding-top: 90px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l9 {
  padding-left: 90px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r9 {
  padding-right: 90px;
}

/* line 156, ../sass/common/_structure.scss */
.mg10 {
  margin: 100px;
}

/* line 160, ../sass/common/_structure.scss */
.pd10 {
  padding: 100px;
}

/*/
///////MARGIN////////*/
/* line 165, ../sass/common/_structure.scss */
.mg-b10 {
  margin-bottom: 100px;
}

/* line 169, ../sass/common/_structure.scss */
.mg-t10 {
  margin-top: 100px;
}

/* line 173, ../sass/common/_structure.scss */
.mg-l10 {
  margin-left: 100px;
}

/* line 177, ../sass/common/_structure.scss */
.mg-r10 {
  margin-right: 100px;
}

/*/
///////PADDING////////*/
/* line 182, ../sass/common/_structure.scss */
.pd-b10 {
  padding-bottom: 100px;
}

/* line 186, ../sass/common/_structure.scss */
.pd-t10 {
  padding-top: 100px;
}

/* line 190, ../sass/common/_structure.scss */
.pd-l10 {
  padding-left: 100px;
}

/* line 194, ../sass/common/_structure.scss */
.pd-r10 {
  padding-right: 100px;
}

/* line 199, ../sass/common/_structure.scss */
input:focus {
  outline: none;
}

/* line 1, ../sass/common/_texts.scss */
body {
  font-family: 'Avenir Next';
}

/* line 5, ../sass/common/_texts.scss */
h1 {
  font-size: 2rem;
  font-family: 'Quicksand';
}

/* line 10, ../sass/common/_texts.scss */
h2 {
  font-size: 2rem;
  font-family: 'Quicksand';
}

/* line 15, ../sass/common/_texts.scss */
h3 {
  font-size: 1.5rem;
  font-family: Quicksand;
}

/* line 20, ../sass/common/_texts.scss */
p.desc {
  font-size: 1rem;
  line-height: 26px;
}

/* line 26, ../sass/common/_texts.scss */
.text.is-primary {
  color: #FF5C3E;
}
/* line 30, ../sass/common/_texts.scss */
.text.is-secondary {
  color: #404258;
}

/* line 1, ../sass/components/_inputs.scss */
.input, .input-right-less {
  display: block;
  height: 22px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* line 15, ../sass/components/_inputs.scss */
.input-right-less {
  border-radius: 0.25rem 0 0 0.25rem;
}

/* line 1, ../sass/components/recurrent.scss */
.profile_img {
  border-radius: 100px;
  min-height: 50px;
  min-width: 50px;
}
/* line 6, ../sass/components/recurrent.scss */
.profile_img img {
  width: 100%;
}

/* line 11, ../sass/components/recurrent.scss */
.post {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  background: white;
}
/* line 18, ../sass/components/recurrent.scss */
.post .top {
  width: 100%;
}
/* line 21, ../sass/components/recurrent.scss */
.post .top .profile_img {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
/* line 26, ../sass/components/recurrent.scss */
.post .top .profile_img img {
  height: 100%;
}
/* line 32, ../sass/components/recurrent.scss */
.post .top .name_date .name {
  font-size: 17px;
}
/* line 36, ../sass/components/recurrent.scss */
.post .top .name_date .date {
  font-size: 13px;
  margin-top: 5px;
}
/* line 43, ../sass/components/recurrent.scss */
.post .content {
  width: 100%;
}
/* line 46, ../sass/components/recurrent.scss */
.post .content .text {
  line-height: 22px;
  font-size: 14px;
}
/* line 52, ../sass/components/recurrent.scss */
.post .content .img img {
  width: 100%;
}
/* line 56, ../sass/components/recurrent.scss */
.post .content .img video {
  width: 100%;
}
/* line 63, ../sass/components/recurrent.scss */
.post .reaction_counter span {
  color: #9B9B9B;
  font-size: 13px;
}
/* line 68, ../sass/components/recurrent.scss */
.post .reaction_counter svg {
  height: 12px;
}
/* line 71, ../sass/components/recurrent.scss */
.post .reaction_counter svg g {
  fill: #9B9B9B;
}
/* line 78, ../sass/components/recurrent.scss */
.post .reaction .comment,
.post .reaction .fire,
.post .reaction .share {
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 10px 0;
  position: relative;
  height: 20px;
  cursor: pointer;
  color: black;
  transition: 0.2s ease;
  border-radius: 10px;
}
/* line 92, ../sass/components/recurrent.scss */
.post .reaction .comment.active.fire,
.post .reaction .fire.active.fire,
.post .reaction .share.active.fire {
  background: #FF5C3E;
}
/* line 96, ../sass/components/recurrent.scss */
.post .reaction .comment.active .comment_icon,
.post .reaction .comment.active .fire_icon,
.post .reaction .comment.active .share_icon,
.post .reaction .fire.active .comment_icon,
.post .reaction .fire.active .fire_icon,
.post .reaction .fire.active .share_icon,
.post .reaction .share.active .comment_icon,
.post .reaction .share.active .fire_icon,
.post .reaction .share.active .share_icon {
  fill: white;
}
/* line 103, ../sass/components/recurrent.scss */
.post .reaction .comment svg,
.post .reaction .fire svg,
.post .reaction .share svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* line 112, ../sass/components/recurrent.scss */
.post .comments_section {
  display: none;
}
/* line 116, ../sass/components/recurrent.scss */
.post .comments_section form label {
  width: 10%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
}
/* line 122, ../sass/components/recurrent.scss */
.post .comments_section form label img {
  width: 100%;
}
/* line 127, ../sass/components/recurrent.scss */
.post .comments_section form input {
  width: 85%;
  border-radius: 50px;
  border: solid 1px lightgray;
  padding: 5px;
}
/* line 138, ../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .profile_img {
  width: 10%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
}
/* line 144, ../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .profile_img img {
  width: 100%;
}
/* line 149, ../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .comment {
  background-color: #F4F4F4;
  padding: 10px 5px;
  font-size: 14px;
  border-radius: 10px;
  width: 85%;
}
/* line 156, ../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .comment .name {
  font-weight: bold;
  color: #FF5C3E;
}

/* line 169, ../sass/components/recurrent.scss */
.write_post {
  background: white;
  border-radius: 10px;
  padding: 5px 10px;
}
@media screen and (max-width: 1024px) {
  /* line 169, ../sass/components/recurrent.scss */
  .write_post {
    display: block;
  }
}
/* line 177, ../sass/components/recurrent.scss */
.write_post .profile_img {
  width: 40px;
  height: 40px;
}
/* line 182, ../sass/components/recurrent.scss */
.write_post form {
  width: 95%;
}
/* line 185, ../sass/components/recurrent.scss */
.write_post form input,
.write_post form label {
  display: block;
  border-radius: 50px;
  border: none;
  height: 35px;
}
/* line 194, ../sass/components/recurrent.scss */
.write_post form input[type=text] {
  border: solid 1px #C2C2C2;
  width: 85%;
}
/* line 198, ../sass/components/recurrent.scss */
.write_post form input[type=text]::placeholder {
  color: #C2C2C2;
}
/* line 203, ../sass/components/recurrent.scss */
.write_post form input[type=submit] {
  background: url("/assets/img/send.svg") no-repeat center;
  background-size: 20px;
  background-color: #FF5C3E;
  width: 35px;
  height: 35px;
  border: none;
}
/* line 212, ../sass/components/recurrent.scss */
.write_post form input[type=file] {
  display: none;
}
/* line 217, ../sass/components/recurrent.scss */
.write_post form label {
  width: 35px;
}
/* line 220, ../sass/components/recurrent.scss */
.write_post form label[for=mediaUpload] {
  background: url("/assets/img/media.svg") no-repeat center;
  background-size: 20px;
  background-color: #FC3574;
}
/* line 226, ../sass/components/recurrent.scss */
.write_post form label[for=gif] {
  background: #3194FC;
  text-align: center;
  color: white;
  line-height: 2.3;
}

/* line 1, ../sass/templates/_index.scss */
header#indexHeader {
  padding: 20px;
  border-bottom: solid 1px grey;
}
/* line 6, ../sass/templates/_index.scss */
header#indexHeader form input {
  border: solid 1px grey;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

/* line 1, ../sass/templates/_feed.scss */
#feed {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  background: #F8F8F8;
  font-family: 'Quicksand';
  margin-top: 10vh;
}
/* line 10, ../sass/templates/_feed.scss */
#feed.board_open {
  width: 85vw;
}
/* line 14, ../sass/templates/_feed.scss */
#feed .container {
  margin: 0 auto;
}
/* line 17, ../sass/templates/_feed.scss */
#feed .container .grid-sizer,
#feed .container .post {
  width: 32%;
}
@media screen and (max-width: 1200px) {
  /* line 17, ../sass/templates/_feed.scss */
  #feed .container .grid-sizer,
  #feed .container .post {
    width: 49%;
  }
}
@media screen and (max-width: 769px) {
  /* line 17, ../sass/templates/_feed.scss */
  #feed .container .grid-sizer,
  #feed .container .post {
    width: 100%;
  }
}
/* line 28, ../sass/templates/_feed.scss */
#feed .container .gutter-sizer {
  width: 2%;
}

/* line 1, ../sass/templates/_layout.scss */
body,
html {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/templates/_layout.scss */
header#mainHeader {
  width: 94vw;
  position: fixed;
  top: 0;
  left: 6vw;
  height: 10vh;
  background: white;
  z-index: 1000;
  padding: 0 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 769px) {
  /* line 7, ../sass/templates/_layout.scss */
  header#mainHeader {
    display: block !important;
    padding: 20px 0;
    height: inherit;
  }
  /* line 23, ../sass/templates/_layout.scss */
  header#mainHeader div:first-child {
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
  }
  /* line 28, ../sass/templates/_layout.scss */
  header#mainHeader div:first-child form {
    margin: 0;
    width: 70%;
  }
  /* line 32, ../sass/templates/_layout.scss */
  header#mainHeader div:first-child form input {
    width: 80% !important;
  }
  /* line 36, ../sass/templates/_layout.scss */
  header#mainHeader div:first-child form label {
    width: 20% !important;
  }
  /* line 42, ../sass/templates/_layout.scss */
  header#mainHeader div:last-child {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  /* line 49, ../sass/templates/_layout.scss */
  header#mainHeader div:first-child {
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
  }
  /* line 54, ../sass/templates/_layout.scss */
  header#mainHeader div:first-child form {
    display: none;
  }
}
/* line 61, ../sass/templates/_layout.scss */
header#mainHeader.board_open {
  width: 85vw;
  left: 15vw;
}
/* line 66, ../sass/templates/_layout.scss */
header#mainHeader img {
  width: 100px;
}
/* line 70, ../sass/templates/_layout.scss */
header#mainHeader > div {
  width: 50%;
}
/* line 73, ../sass/templates/_layout.scss */
header#mainHeader > div:last-child {
  justify-content: flex-end;
}
/* line 77, ../sass/templates/_layout.scss */
header#mainHeader > div:last-child .notification img {
  width: 30px;
}
/* line 82, ../sass/templates/_layout.scss */
header#mainHeader > div:last-child .profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
/* line 87, ../sass/templates/_layout.scss */
header#mainHeader > div:last-child .profile_img img {
  width: 100%;
}
/* line 92, ../sass/templates/_layout.scss */
header#mainHeader > div:last-child .burger_right {
  cursor: pointer;
  font-weight: bold;
  font-family: 'Quicksand';
  font-size: 15px;
  background: url("../../assets/img/burger.svg") no-repeat 0 center;
  background-size: 30px;
  padding: 10px 0 10px 40px;
}
/* line 101, ../sass/templates/_layout.scss */
header#mainHeader > div:last-child .burger_right:focus {
  outline: none;
}

/* line 110, ../sass/templates/_layout.scss */
#search input {
  border: solid 1px #4A4A4A;
  height: 30px;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  width: 200px;
  border-right: none;
}
/* line 118, ../sass/templates/_layout.scss */
#search input::placeholder {
  color: lightgray;
}
/* line 123, ../sass/templates/_layout.scss */
#search label {
  background: #FF5C3E;
  height: 30px;
  width: 50px;
  position: relative;
}
/* line 129, ../sass/templates/_layout.scss */
#search label img {
  width: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 139, ../sass/templates/_layout.scss */
#board {
  position: fixed;
  top: 0;
  left: 0;
  width: 6vw;
  height: 100vh;
  background: #4A4A4A;
  padding-top: 35px;
  z-index: 2;
}
/* line 149, ../sass/templates/_layout.scss */
#board.open {
  width: 15vw;
}
/* line 152, ../sass/templates/_layout.scss */
#board.open ul {
  width: 140px;
  margin: 50px auto 0;
}
/* line 156, ../sass/templates/_layout.scss */
#board.open ul li {
  display: flex;
  align-items: center;
}
/* line 160, ../sass/templates/_layout.scss */
#board.open ul li span {
  margin-left: 10px;
}
/* line 166, ../sass/templates/_layout.scss */
#board.open .feed_label::after {
  content: "Flux d'actualité";
}
/* line 170, ../sass/templates/_layout.scss */
#board.open .chat_label::after {
  content: "Chat";
}
/* line 174, ../sass/templates/_layout.scss */
#board.open .calendar_label::after {
  content: "Calendrier";
}
/* line 178, ../sass/templates/_layout.scss */
#board.open .weather_label::after {
  content: "Météo";
}
/* line 182, ../sass/templates/_layout.scss */
#board.open .settings_label::after {
  content: "Paramètres";
}
/* line 187, ../sass/templates/_layout.scss */
#board > div {
  cursor: pointer;
}
/* line 192, ../sass/templates/_layout.scss */
#board ul li {
  cursor: pointer;
  color: white;
  font-family: 'Quicksand';
}
/* line 197, ../sass/templates/_layout.scss */
#board ul li:hover {
  color: #FF5C3E;
}
/* line 200, ../sass/templates/_layout.scss */
#board ul li:hover path {
  fill: #FF5C3E;
}

/* line 2, ../sass/templates/_landing.scss */
main.landing .background {
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: url("../img/landing.jpg") no-repeat bottom;
  background-size: contain;
  z-index: -1;
}
/* line 12, ../sass/templates/_landing.scss */
main.landing section:first-of-type {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  /* line 12, ../sass/templates/_landing.scss */
  main.landing section:first-of-type {
    display: block;
  }
}
/* line 18, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  /* line 18, ../sass/templates/_landing.scss */
  main.landing section:first-of-type .left {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
/* line 26, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left h1 {
  text-align: center;
}
/* line 30, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left p.desc {
  text-align: center;
}
/* line 34, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left h3 {
  text-align: center;
}
/* line 38, ../sass/templates/_landing.scss */
main.landing section:first-of-type .left div.mockup {
  background: url("../img/mockup.png") no-repeat center;
  height: 300px;
  width: 580px;
  background-size: contain;
  margin: 50px auto 0;
}
@media screen and (max-width: 1024px) {
  /* line 38, ../sass/templates/_landing.scss */
  main.landing section:first-of-type .left div.mockup {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  /* line 38, ../sass/templates/_landing.scss */
  main.landing section:first-of-type .left div.mockup {
    display: none;
  }
}
/* line 53, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  /* line 53, ../sass/templates/_landing.scss */
  main.landing section:first-of-type .right {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  /* line 53, ../sass/templates/_landing.scss */
  main.landing section:first-of-type .right {
    width: 100%;
  }
}
/* line 62, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right .white-bg {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  max-width: 600px;
}
/* line 71, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right h2 {
  text-align: center;
}
/* line 75, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form {
  top: 110px;
  width: 90%;
  margin: 0 auto;
}
/* line 80, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container {
  height: 70px;
}
/* line 83, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container input {
  margin-top: 10px;
}
/* line 87, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container .input-right,
main.landing section:first-of-type .right form div.input-container div.input-left {
  width: 50%;
}
/* line 91, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container .input-right .input-centered,
main.landing section:first-of-type .right form div.input-container div.input-left .input-centered {
  margin: 0 auto;
  width: 90%;
}
/* line 97, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container div.input-full {
  width: 94%;
  margin: 0 auto;
}
/* line 101, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.input-container div.input-full input {
  width: 95%;
}
/* line 107, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.radio-full {
  width: 94%;
  margin: 0 auto;
  height: 50px;
}
/* line 112, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form div.radio-full .radio:first-child {
  margin-right: 30px;
}
/* line 117, ../sass/templates/_landing.scss */
main.landing section:first-of-type .right form .button {
  background-color: #404258;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 15px 30px;
}

/* line 1, ../sass/templates/_weather.scss */
main.weather {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
}
/* line 8, ../sass/templates/_weather.scss */
main.weather .button {
  background-color: #404258;
  color: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 9px 30px;
  border-radius: 0 5px 5px 0;
  border: none;
}
/* line 14, ../sass/templates/_weather.scss */
main.weather .bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 420px;
  width: 100%;
}

/* line 1, ../sass/templates/_chat.scss */
#chat {
  width: 94vw;
  margin-top: 10vh;
  float: right;
  height: 90vh;
}
/* line 8, ../sass/templates/_chat.scss */
#chat > section:first-child {
  width: 25%;
  border-top: solid 1px #D8D8D8;
  overflow-y: scroll;
}
/* line 13, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message {
  width: 300px;
  margin: 0 auto;
}
/* line 17, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message span {
  color: #404258;
}
/* line 21, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* line 27, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message .switch input {
  display: none;
}
/* line 32, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 43, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 55, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message .slider.round {
  border-radius: 34px;
}
/* line 58, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message .slider.round:before {
  border-radius: 50%;
}
/* line 65, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message input:checked + .slider {
  background-color: #27D238;
}
/* line 69, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message input:focus + .slider {
  box-shadow: 0 0 1px #27D238;
}
/* line 73, ../sass/templates/_chat.scss */
#chat > section:first-child .block_message input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* line 81, ../sass/templates/_chat.scss */
#chat > section:first-child .profile_img {
  height: 30px;
  width: 30px;
}
/* line 88, ../sass/templates/_chat.scss */
#chat > section:first-child .contacts > div,
#chat > section:first-child .groupes > div {
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.1s ease;
}
/* line 93, ../sass/templates/_chat.scss */
#chat > section:first-child .contacts > div span,
#chat > section:first-child .groupes > div span {
  margin-top: 5px;
}
/* line 97, ../sass/templates/_chat.scss */
#chat > section:first-child .contacts > div:hover,
#chat > section:first-child .groupes > div:hover {
  background: lightgray;
}
/* line 101, ../sass/templates/_chat.scss */
#chat > section:first-child .contacts > div.active,
#chat > section:first-child .groupes > div.active {
  background: #EFEFEF;
}
/* line 106, ../sass/templates/_chat.scss */
#chat > section:first-child .contacts .connect,
#chat > section:first-child .groupes .connect {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #27D238;
}
/* line 114, ../sass/templates/_chat.scss */
#chat > section:first-child input {
  width: 90%;
  border-radius: 10px;
  border: solid 1px #404258;
  font-size: 15px;
  padding: 10px;
}
/* line 121, ../sass/templates/_chat.scss */
#chat > section:first-child input::placeholder {
  color: #818181;
}
/* line 127, ../sass/templates/_chat.scss */
#chat > section:last-child {
  width: 75%;
  border: solid 1px #D8D8D8;
  position: relative;
}
/* line 132, ../sass/templates/_chat.scss */
#chat > section:last-child .top {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: solid 1px #D8D8D8;
}
/* line 137, ../sass/templates/_chat.scss */
#chat > section:last-child .top .profile_img {
  height: 35px;
  width: 35px;
}
/* line 145, ../sass/templates/_chat.scss */
#chat > section:last-child .top .name > div span:first-child {
  font-weight: 500;
}
/* line 149, ../sass/templates/_chat.scss */
#chat > section:last-child .top .name > div span:last-child {
  font-size: 12px;
  margin-top: 5px;
}
/* line 158, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container {
  padding: 20px;
  overflow-y: auto;
  max-height: 70vh;
}
/* line 163, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .sent {
  flex-direction: row-reverse;
}
/* line 166, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .sent .profile_img {
  margin-left: 10px;
}
/* line 170, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .sent .mes {
  border-right: solid 3px orange;
}
/* line 176, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .dest .profile_img {
  margin-right: 10px;
}
/* line 180, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .dest .mes {
  border-left: solid 3px red;
}
/* line 185, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .profile_img {
  height: 30px;
  width: 30px;
}
/* line 190, ../sass/templates/_chat.scss */
#chat > section:last-child .messages_container .mes {
  margin-bottom: 15px;
  max-width: 60%;
  padding: 10px;
  box-sizing: border-box;
  color: gray;
  border-radius: 5px;
  border: solid 1px #F1F1F1;
  font-size: 15px;
}
/* line 202, ../sass/templates/_chat.scss */
#chat > section:last-child .write {
  padding: 5px 10px;
  border-top: solid 1px silver;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background: white;
}
/* line 210, ../sass/templates/_chat.scss */
#chat > section:last-child .write .profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
/* line 215, ../sass/templates/_chat.scss */
#chat > section:last-child .write .profile_img img {
  width: 100%;
}
/* line 220, ../sass/templates/_chat.scss */
#chat > section:last-child .write form {
  width: 70%;
}
/* line 223, ../sass/templates/_chat.scss */
#chat > section:last-child .write form input {
  border-radius: 5px;
  border: none;
  border: solid 1px Gainsboro;
  padding: 5px;
  box-sizing: border-box;
}
/* line 230, ../sass/templates/_chat.scss */
#chat > section:last-child .write form input::placeholder {
  color: Gainsboro;
}
/* line 236, ../sass/templates/_chat.scss */
#chat > section:last-child .write .media {
  background: #FF5C3E;
  border-radius: 50px;
  padding: 8px 5px 5px;
  border: none;
}
/* line 242, ../sass/templates/_chat.scss */
#chat > section:last-child .write .media svg {
  width: 22px;
}
/* line 247, ../sass/templates/_chat.scss */
#chat > section:last-child .write .gif {
  padding: 10px 7px;
  border: none;
  background: blue;
  border-radius: 50px;
  color: white;
}

/* line 1, ../sass/templates/_profile.scss */
#profile_about,
#profile_timeline {
  width: 94vw;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  background: #F8F8F8;
  font-family: 'Quicksand';
  margin-top: 10vh;
}

/* line 12, ../sass/templates/_profile.scss */
.page_choice {
  display: table;
  margin: 0 auto 20px;
}
/* line 16, ../sass/templates/_profile.scss */
.page_choice a {
  padding: 10px 0;
  width: 100px;
  border: solid 1px grey;
  color: black;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}
/* line 25, ../sass/templates/_profile.scss */
.page_choice a.active {
  background: #FF5C3E;
  color: white;
  border: none;
}
/* line 31, ../sass/templates/_profile.scss */
.page_choice a:first-child {
  border-right: none;
  border-radius: 5px 0 0 5px;
}
/* line 36, ../sass/templates/_profile.scss */
.page_choice a:last-child {
  border-radius: 0 5px 5px 0;
}

/* line 42, ../sass/templates/_profile.scss */
#headProfile {
  height: 250px;
  background: url("/assets/img/dark.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
/* line 48, ../sass/templates/_profile.scss */
#headProfile .profile_img {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -50px;
  left: 50px;
}
/* line 56, ../sass/templates/_profile.scss */
#headProfile .buttons {
  position: absolute;
  bottom: 20px;
  right: 5%;
}
/* line 61, ../sass/templates/_profile.scss */
#headProfile .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: #FF5C3E;
  color: white;
}
/* line 74, ../sass/templates/_profile.scss */
#headProfile .buttons button:focus {
  outline: none;
}

/* line 81, ../sass/templates/_profile.scss */
#name {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 220px;
  bottom: 20px;
}

/* line 92, ../sass/templates/_profile.scss */
#profile_about .title {
  font-size: 30px;
  color: #FF5C3E;
}

/* line 99, ../sass/templates/_profile.scss */
#desc span {
  font-size: 17px;
}
/* line 103, ../sass/templates/_profile.scss */
#desc .left {
  width: 200px;
  color: #FF5C3E;
}
/* line 108, ../sass/templates/_profile.scss */
#desc .right {
  width: 600px;
}
