/* line 1, ../../sass/components/recurrent.scss */
.profile_img {
  border-radius: 100px;
  max-height: 50px;
  max-width: 50px;
}
/* line 6, ../../sass/components/recurrent.scss */
.profile_img img {
  width: 100%;
}

/* line 11, ../../sass/components/recurrent.scss */
.post {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  background: white;
}
/* line 18, ../../sass/components/recurrent.scss */
.post .top {
  width: 100%;
}
/* line 21, ../../sass/components/recurrent.scss */
.post .top .profile_img {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
/* line 26, ../../sass/components/recurrent.scss */
.post .top .profile_img img {
  height: 100%;
}
/* line 32, ../../sass/components/recurrent.scss */
.post .top .name_date .name {
  font-size: 17px;
}
/* line 36, ../../sass/components/recurrent.scss */
.post .top .name_date .date {
  font-size: 13px;
}
/* line 42, ../../sass/components/recurrent.scss */
.post .content {
  width: 100%;
}
/* line 45, ../../sass/components/recurrent.scss */
.post .content .text {
  line-height: 22px;
  font-size: 14px;
}
/* line 51, ../../sass/components/recurrent.scss */
.post .content .img img {
  width: 100%;
}
/* line 55, ../../sass/components/recurrent.scss */
.post .content .img video {
  width: 100%;
}
/* line 62, ../../sass/components/recurrent.scss */
.post .reaction_counter span {
  color: #9B9B9B;
  font-size: 13px;
}
/* line 67, ../../sass/components/recurrent.scss */
.post .reaction_counter svg {
  height: 12px;
}
/* line 70, ../../sass/components/recurrent.scss */
.post .reaction_counter svg g {
  fill: #9B9B9B;
}
/* line 77, ../../sass/components/recurrent.scss */
.post .reaction .comment,
.post .reaction .fire,
.post .reaction .share {
  width: calc((100% / 3) - 10px);
  text-align: center;
  padding: 10px 0;
  position: relative;
  height: 20px;
  cursor: pointer;
  color: black;
  transition: 0.2s ease;
  border-radius: 10px;
}
/* line 91, ../../sass/components/recurrent.scss */
.post .reaction .comment.active.fire,
.post .reaction .fire.active.fire,
.post .reaction .share.active.fire {
  background: #FF5C3E;
}
/* line 95, ../../sass/components/recurrent.scss */
.post .reaction .comment.active .comment_icon,
.post .reaction .comment.active .fire_icon,
.post .reaction .comment.active .share_icon,
.post .reaction .fire.active .comment_icon,
.post .reaction .fire.active .fire_icon,
.post .reaction .fire.active .share_icon,
.post .reaction .share.active .comment_icon,
.post .reaction .share.active .fire_icon,
.post .reaction .share.active .share_icon {
  fill: white;
}
/* line 102, ../../sass/components/recurrent.scss */
.post .reaction .comment svg,
.post .reaction .fire svg,
.post .reaction .share svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* line 111, ../../sass/components/recurrent.scss */
.post .comments_section {
  display: none;
}
/* line 115, ../../sass/components/recurrent.scss */
.post .comments_section form label {
  width: 10%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
}
/* line 121, ../../sass/components/recurrent.scss */
.post .comments_section form label img {
  width: 100%;
}
/* line 126, ../../sass/components/recurrent.scss */
.post .comments_section form input {
  width: 85%;
  border-radius: 50px;
  border: solid 1px lightgray;
  padding: 5px;
}
/* line 137, ../../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .profile_img {
  width: 10%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
}
/* line 143, ../../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .profile_img img {
  width: 100%;
}
/* line 148, ../../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .comment {
  background-color: #F4F4F4;
  padding: 10px 5px;
  font-size: 14px;
  border-radius: 10px;
  width: 85%;
}
/* line 155, ../../sass/components/recurrent.scss */
.post .comments_section .contain > div .author .comment .name {
  font-weight: bold;
  color: #FF5C3E;
}
